.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.item {
  width: 100px;
  height: 100px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid green;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
